* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  border: 1px solid black;
  /* position: absolute;
    height: 140vmax;
    width: 140vmax; */
}

.canvas-container {
  position: relative;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}

body p {
  padding-left: 12px;
  font-size: 20px !important;
}

body {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.sliderParent {
  width: 200px;
}

button {
  padding: 8px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  font-size: 16px;

  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}


textarea {
  margin-left: 12px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 7vh;
  width: 50vw;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}
